<td>
  <mat-form-field>
      <mat-select [formControl]="prod" placeholder="AddProduct">
        <mat-option *ngFor="let product of products$ | async" [value]="product.id">{{ product.name}}</mat-option>
      </mat-select>
  </mat-form-field>
</td>
<td>
  <mat-form-field>
      <input matInput type="number" placeholder="quantity" [formControl]="quantity" min="0">
  </mat-form-field>
</td>
<td>
  <button mat-button color="warn" (click)="delete()">Delete</button>
</td>
<td *ngIf="selectedPrice">
  {{ selectedPrice}}
</td>