.table{
  display: flex;
  font-size: 30px;
}
.table div{
  margin-left: 40px;
}
.disc{
  font-size: 30px;
}
.total{
  font-size: 30px;
  margin-left: 3%;
  background: peachpuff;
  width: 10%;
  text-align: center;
}
.disc-c{
  font-size: 30px;
}
.success{
  background: chartreuse;
  width: 200px;
  height: 30px;
  text-align: center;
}
.fix{
  display: flex;
  width: 520px;
  margin-left: 7%;
}
.head{
  margin-left: 9%;
}
.content{
  margin: 10px;
}
