.total{

}
.total-z{
  margin-right: 16%;
  background: greenyellow;
  font-size: 30px;
}
.total-v{
  font-size: 34px;
}
.customer{
  font-size: 26px;
  background: darkgray;
  width: 50%;
  cursor: pointer;
}
.h{
  margin-left: 42%;
  font-size: 50px;
}
.discount-h{
  font-size: 30px;
}
.discount-w{
  font-size: 30px;

}