<div class="container">
  <form [formGroup]="editForm">
    <mat-form-field>
      <mat-select formControlName="customer_id" placeholder="Select Name">
        <mat-option *ngFor="let customer of customers$ | async " [value]="customer.id">{{ customer.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row">
      <div fxFlex="90">
        <div class="fix">
          <div class="head">Product</div><div class="head">Quantity</div><div class="head">Price</div>
        </div>
        <table cellpadding="15">
          <div [formGroup]="editForm">
            <ng-container formArrayName="product">
              <tr *ngFor="let product of items.controls; let i=index" [formGroupName]="i">
                <app-create-product
                  [products]="products$ | async"
                  [product]="product"
                  (save)="save($event)"
                  (del)="delete($event, i)">
                </app-create-product>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <div [formGroup]="editForm">
                      <mat-select formControlName="addProduct" placeholder="AddProduct">
                        <mat-option *ngFor="let product of products$ | async" [value]="product.id">{{ product.name}}</mat-option>
                      </mat-select>
                    </div>
                  </mat-form-field>
                </td>
                <td *ngIf="product">
                </td>
              </tr>
            </ng-container>
          </div>
        </table>
      </div>
      <div fxFlex="10">
        <div fxLayoutAlign="center" class="disc">Discount</div>
        <div fxLayoutAlign="center">
          {{ invoice.discount }}
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div class="total" fxFlex="10">Total</div>
      <div fxFlex="10" class="disc-c" fxLayoutAlign="center">{{ total.value | number: '1.2-2' }}</div>
    </div>
  </form>
</div>
