<div class="container">
  <form [formGroup]="invoiceForm">
    <mat-form-field>
      <div [formGroup]="invoiceForm">
        <mat-select formControlName="customer" placeholder="Select Name">
          <mat-option *ngFor="let customer of customers$ | async " [value]="customer.id">{{ customer.name}}</mat-option>
        </mat-select>
      </div>
    </mat-form-field>
    <div fxLayout="row">
      <div fxFlex="90">
        <table cellpadding="15">
          <tr>
            <th>Products</th><th>Quantity</th><th>Price</th>
          </tr>
          <div [formGroup]="invoiceForm">
          <ng-container formArrayName="product">
                <tr *ngFor="let product of product.controls; let i=index" [formGroupName]="i">
                  <app-create-product
                    [products]="products$ | async"
                    [product]="product"
                    (total)="getPrice($event, i)"
                    (del)="delete(i)">
                  </app-create-product>
               </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <div [formGroup]="invoiceForm">
                      <mat-select formControlName="addproduct" placeholder="AddProduct">
                        <mat-option *ngFor="let product of products$ | async" [value]="product.id">{{ product.name}}</mat-option>
                      </mat-select>
                    </div>
                  </mat-form-field>
                </td>
                <td *ngIf="product">
                </td>
              </tr>
            </ng-container>
          </div>
        </table>
      </div>
      <div fxFlex="10">
        <div fxLayoutAlign="center" class="disc">Discount</div>
        <div fxLayoutAlign="center">
          <mat-form-field>
            <div [formGroup]="invoiceForm">
              <input matInput type="number" placeholder="%" formControlName="discount"  max="50" min="0">
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div class="total" fxFlex="10">Total</div>
      <div fxFlex="10" class="disc-c" fxLayoutAlign="center">{{ total }}</div>
      <div fxFlex="10"><button mat-button (click)="setInvoice()" color="primary">Save</button></div>
    </div>
  </form>
  <div *ngIf="success" class="success">
    Invoice created
  </div>
</div>
